#!/usr/bin/make -f
# -*- makefile -*-

MANPAGES=vowpalwabbit/vw.1

%:
	dh  $@  --with autoreconf

%.1: %
	help2man --no-info --name="Vowpal Wabbit -- fast online learning tool" ./$< > $@

override_dh_auto_build:
	dh_auto_build
	debian/rules $(MANPAGES)

override_dh_auto_install:
	dh_auto_install
	: # We generally do not ship .la on Debian systems
	find debian/ -name '*.la' | xargs -r rm -f

override_dh_auto_test:
	: # I: run tests providing options for verbose output on failures
	cd test && ./RunTests -c -d -f

override_dh_auto_clean:
	dh_auto_clean
	-rm -f test/*.predict test/*.tmp depend $(MANPAGES)

override_dh_strip:
	dh_strip --dbg-package=vowpal-wabbit-dbg
